.products {
	padding: 80px 20px;
	min-height: 100%;
	width: 80%;
	column-count: 3;
}

@media (max-width: 1200px) {
	.products {
		column-count: 1;
	}
}
.wrapper {
	display: auto;
}

.thumbnail {
	text-align: center;
	padding: 20px;
}
